body {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}


#barParent {
    position: flex;
    width: auto;
    align-self: flex;
    align-items: flex-start;
}

#bar {
    height: 55px;
    position: flex;
    background-color: blue;
    border: 2px;
    border-style: double;
    margin: 3px;
    box-shadow: 2px 2px;
}